{% extends 'base.html' %}
{% block content %}

<section class="ProfileSection p-5">
  <div class="postDetail col-6 offset-3">
    <h2>{{user.username.title()}}</h2>
    {% if user.id == current_user.id %}
    <p class="pt-2">Email: {{user.email}}</p>
    {% endif %}
    <p class="mt-5">{{user.username.title()}}'s Posts:</p>
    {% for post in user.posts %}
    <ul>
      <li>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </li>
    </ul>
    {% endfor %}
  </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}