/* Homepage */
.hero-text {
    margin-top: 300px;
}

.hero-container {
    height: 100vh;
    background-color: #304d30;
}

.feature-section, .team-section {
    background-color: #eaebed;
}

/* Auth */
.auth-section, .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    min-height: 90vh;
}

.auth-container, .form-container {
    padding: 30px 50px;
    margin: 30px 0;
    background-color: white;
    border-radius: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
}

/* Utility */
.error {
    color: rgb(238, 77, 77);
    margin: 10px auto;
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
}

/* Posts */

.PostDetailSection {
    background-color: rgb(233, 233, 233);
    padding: 100px 0;
}

.postDetail {
  padding: 20px;
  box-shadow: 2px 5px 2px gray;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.postAuthorImage {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.postHeader {
  display: flex;
  align-items: center;
}

.postAuthor {
  margin: 0 10px;
  padding: 0;
}

.postTitle {
  font-size: 1.5em;
  margin-top: 10px;
}

.feed-post {
  text-decoration: none;
}